<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Book
    </title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
</head>
<body>
    <table class="customTable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Author</th>
        <th>Counter</th>
    </tr>
    </thead>
        <tbody>
            <td>
                {{ book.id }}
            </td>
            <td>
                {{ book.title }}
            </td>
            <td>
                {{ book.author }}
            </td>
             <td>
                {{ book.counter }}
            </td>
            </tr>
        </tbody>
    </table>
</body>
</html>